@use 'variables';
@use 'mixins';

body {
    background-color: map-get(variables.$colors, "light");
    color: map-get(variables.$colors, "dark");
    font-family: variables.$font-primary;
}

.container {
    max-width: 1450px;
    padding-inline: 40px;
    margin-inline: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: fit-content;
}
