@use 'variables';
@use 'mixins';

body {
    background-color: map-get(variables.$colors, "light");
    color: map-get(variables.$colors, "dark");
    font-family: variables.$font-primary;
}

.container {
    max-width: 1450px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
